<!DOCTYPE html>
<html style="position: relative;">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <% if(typeof title !== "undefined"){ %>
    <title><%= title %> </title>
    <% }else{ %>
    <title>AndroCrunch</title>
    <% } %>
    <% if(typeof keywords !== "undefined"){ %>
    <meta name="keywords" content="<%= keywords %>">
    <% }else{ %>
    <meta name="keywords"
        content="Ringtone, wallpapers, wallpapers hd, android, products, free ringtones, download, hd, mp3, presets, audio">
    <% } %>
    <% if(typeof description !== "undefined"){ %>
    <meta name="description" content="<%= description %>">
    <% }else{ %>
    <meta name="description"
        content="Best place for free ringtones, wallpapers, presets download for your mobile phone and desktop">
    <% } %>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen'
        href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400i,700|Raleway&display=swap" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140862720-1"></script>


    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1360407062723594",
            enable_page_level_ads: true
        });
    </script>
</head>

<body>
    <div id="side-toggler" class="container">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div id="mySidenav" class="sidenav">
            <a href="/">Home</a>
            <% if(loggedUser) {%>
            <a class="text-warning" href="/author/panel">Panel</a>
            <% } %>
            <a href="/blogs">Blogs</a>
            <a href="/contents">Contents</a>
            <a href="/disclaimer">Disclaimer</a>
            <a href="/contact">Contact Us</a>
            <a href="/about_us">About Us</a>
            <a href="/advertisement">Advertisement</a>
            <a href="/privacy_policy">Privacy Policy</a>
        </div>
        <!-- Use any element to open the sidenav -->
        <span class="float-right" id="sidenavs" onclick="openNav()"><img class="svg-icon no-border"
                src="/imgs/menu.svg"></span>
        <img class="navbar-icon float-left" src="/imgs/logo.png">
    </div>
    <nav id="nav" class="navbar navbar-expand-lg fixed-top">
        <div class="container ">
            <a class="navbar-brand text-white" href="/"><img class="navbar-icon" src="/imgs/logo.png">
                <span class="brand-name"><span>AndroCrunch</span><br><span class="motto">BEYOND THE INFINTY</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img class="svg-icon no-border" src="/imgs/menu.svg">
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul id="nav-content" class="navbar-nav ml-auto px-7 justify-content-center font-weight-bold text-white">
                    <% if(loggedUser) {%>
                    <li class="nav-item active">
                        <a class="nav-link text-warning" href="/author/panel">Panel <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <% } else { %>
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <% } %>
                    <li class="nav-item">
                        <a class="nav-link" href="/contents">Contents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blogs">Blogs</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/about_us">About Us</a>
                            <a class="dropdown-item" href="/contact">Contact Us</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/disclaimer">Disclaimer</a>
                            <a class="dropdown-item" href="/advertisement">Advertisement</a>
                            <a class="dropdown-item" href="/privacy_policy">Privacy Policy</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <% if(error && error.length > 0) { %>
    <div class="alert alert-danger mt-6" role="alert">
        <%- error %>
    </div>
    <% } %>
    <% if(success && success.length > 0) { %>
    <div class="alert alert-success mt-6" role="alert">
        <%- success %>
    </div>
    <% } %>
    <% if(warning && warning.length > 0) { %>
    <div class="alert alert-warning mt-6" role="alert">
        <%- warning %>
    </div>
    <% } %>
    <button id="myBtn" title="Go to top"><img class="svg-icon" src="/imgs/top.svg"></button>
    <div class="loader-div">
        <div class="loader"></div>
    </div>