<% include partials/header %>
<div class="container-fluid bg-white px-0">
  <div class="container-fluid pt-6s pb-4 bg-image bottom-rounded">
    <h1 class="text-center text-white display-5 mb-3">Content</h1>
    <p class="lead pb-5 text-center mt-6 text-white">Home > Content</p>
    <p class=" pt-6s pt-sm-5 small font-weight-normal text-center text-white">
      What are you looking for?
    </p>
    <div class="position-relative pt-5 srch">
      <form action="https://www.google.com/search" method="GET">
        <input name="sitesearch" type="hidden" value="https://www.androcrunch.in" />
        <input
          name="q"
          type="search"
          placeholder="Wallpapers, apps and ringtones"
        />
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
  </div>
</div>
<div class="bg-white container-fluid px-0 pb-6 pt-3">
  <div class="main-content site-content">
    <div class="pt-6s text-center pb-5">
      <div class="text-center d-block d-sm-inline">
        <a
          href="/contents"
          class="btn btn-outline-primary rounded-pill btn-small px-4 pt-2 pb-2"
          >All</a
        >
        <% if(category === "ringtones"){ %>
        <a
          href="/contents/ringtones"
          class="btn btn-outline-primary rounded-pill px-2 ml-2 pt-2 pb-2 active no-border"
          >Ringtones</a
        >
        <% }else{ %>
        <a
          href="/contents/ringtones"
          class="btn btn-outline-primary rounded-pill px-2 ml-2 pt-2 pb-2"
          >Ringtones</a
        >
        <% } %>
      </div>
      <div class="mt-4 d-block d-sm-inline">
        <% if(category === "wallpapers"){ %>
        <a
          href="/contents/wallpapers"
          class="btn btn-outline-primary rounded-pill px-2 ml-2 pt-2 pb-2 active no-border"
          >Wallpapers</a
        >
        <% }else{ %>
        <a
          href="/contents/wallpapers"
          class="btn btn-outline-primary rounded-pill px-2 ml-2 pt-2 pb-2"
          >Wallpapers</a
        >
        <% } %> <% if(category === "apps"){ %>
        <a
          href="/contents/apps"
          class="btn btn-outline-primary rounded-pill px-2 ml-2 pt-2 pb-2 active no-border "
          >Apps</a
        >

        <% }else{ %>
        <a
          href="/contents/apps"
          class="btn btn-outline-primary rounded-pill px-2 ml-2 pt-2 pb-2"
          >Apps</a
        >
        <% } %> <% if(category === "presets"){ %>
        <a
          href="/contents/presets"
          class="btn btn-outline-primary rounded-pill px-2 ml-2 pt-2 pb-2 active no-border "
          >Presets</a
        >

        <% }else{ %>
        <a
          href="/contents/presets"
          class="btn btn-outline-primary rounded-pill px-2 ml-2 pt-2 pb-2"
          >Presets</a
        >
        <% } %>
      </div>
    </div>
  </div>
  <div class="site-content w-75 m-auto">
    <h1 class="display-5 text-center pt-5 pb-1">
      <%= category.toUpperCase() %>
    </h1>
    <p class="small text-center text-gray pb-3">
      Catch up the latest contents!
    </p>
    <div
      style="max-width: 65rem;"
      class="w-100 m-auto justify-content-center text-center"
    >
      <% for( let i = 0 ; i < files.length; i++){ %> <% file=files[i]; %> <%
      if(i === 8){ %>
      <div class="advertisement d-flex justify-content-center"></div>
      <% } %>
      <div
        style="background-size: cover; background-image: url('/thumbnails/lg-<%= file.thumbnail.split('-')[1] %>');"
        class="scroll-item mt-6"
      >
        <p
          style="padding-top: 17.5rem; margin-bottom: 3rem;"
          class="mx-3 small mt-4 text-dark text-center"
        >
          <% if(file.filename.length >= 23){ %> <%=
          file.filename.substring(0,23) %>.. <% }else{ %> <%= file.filename%> <%
          } %>
        </p>
        <div class="scroll-item-hover-option">
          <a
            class="scroll-item-hover-link monteserrat"
            href="/contents/<%= category %>/<%= file.name %>"
            
          >
            Download
          </a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <nav
    class="container main-content d-flex justify-content-center pb-4 pt-6s pt-md-5"
    aria-label="Pagination"
  >
    <ul class="pagination d-flex ml-0">
      <% if(previous === 0){ %>
      <li class="page-item disabled">
        <a
          class="page-link previous"
          href="/"
          tabindex="-1"
          aria-disabled="true"
          >Prev</a
        >
      </li>
      <% }else{ %>
      <li class="page-item">
        <a
          class="page-link previous"
          href="/contents/<%= category %>/page/<%= previous %>"
          tabindex="-1"
          aria-disabled="true"
          >Prev</a
        >
      </li>
      <% } %>
      <li class="page-item disabled active no-border ">
        <a class="page-link" href="/"
          ><%= current %><span class="sr-only">(current)</span></a
        >
      </li>
      <% if( current !== last){ %>
      <li class="page-item">
        <a class="page-link" href="/contents/<%= category %>/page/<%= last %>"
          ><%= last %></a
        >
      </li>
      <% } %> <% if(current === last){ %>
      <li class="page-item disabled">
        <a
          class="page-link next pl-1"
          href="/contents/<%=category%>/page/<%= next %>"
          >Next</a
        >
      </li>
      <% }else{ %>
      <li class="page-item">
        <a
          class="page-link next pl-1"
          href="/contents/<%=category%>/page/<%= next %>"
          >Next</a
        >
      </li>
      <% } %>
    </ul>
  </nav>
  <div class="advertisement  d-flex justify-content-center pt-6s"></div>
  <h2 class="display-5 text-center  mb-3 pt-6s pt-md-5">
    <span>Our Blogs</span>
  </h2>
  <div class="text-center"><span class="line pl-6"></span></div>
  <div class="text-center mt-5 mb-4">
    <a href="/blogs" class="btn btn-outline load-more small rounded-pill"
      >Browse Now</a
    >
  </div>
</div>

<% include partials/footer %>
