<% include partials/header %>
<div class="container-fluid bg-white px-0">
    <div class="container-fluid pt-6s pb-6 bg-gradient bottom-rounded">
        <h1 class="text-center text-white display-5 mb-3">Content</h1>
        <p class="lead pb-5 text-center text-white">Home > Content</p>
        <h5 class=" pt-6s pt-sm-5 text-center text-white">What are you looking for?</h5>
        <div class="position-relative pt-5 srch">
            <form style="margin-bottom:-7.5rem;" action="">
                <input type="search">
                <i class="fas fa-search"></i>
            </form>
        </div>
    </div>
</div>

<div class="bg-white container-fluid px-0 pb-6 pt-3">
    <div class="main-content site-content">
        <div class="pt-6s text-center pb-5">
            <div class="text-center">
                <a href="/contents" class="btn btn-outline-primary rounded-pill btn-small px-4 pt-2 pb-2 active">All</a>
                <a href="/contents/ringtones"
                    class="btn btn-outline-primary rounded-pill px-4 ml-2 pt-2 pb-2">Ringtones</a>
            </div>
            <div class="mt-4">
                <a href="/contents/wallpapers" class="btn btn-outline-primary rounded-pill pt-2 pb-2">Wallpapers</a>
                <a href="/contents/apps" class="btn btn-outline-primary rounded-pill pt-2 pb-2">Apps</a>
                <a href="/contents/presets" class="btn btn-outline-primary rounded-pill pt-2 pb-2">Presets</a>
            </div>
        </div>
        <h1 class="display-5 text-center pt-5 pb-1">Ringtones</h1>
        <p class="small text-center text-gray pb-3">Catch up the latest tunes!</p>
        <div class="row justify-content-center">
            <% for( let i =  files.audio.length -1 ; i >= 0; i--){ %>
            <% file=files.audio[i];  %>
            <% if(i % 2 === 0){ %>
            <div class="col-6 col-md-3 px-0 ml-0 ml-md-4 mt-2">
                <a href="/ringtones/<%= file.name %>">
                    <div class="card mx-0">
                        <img src="/thumbnails/<%= file.thumbnail %>" class="card-img-top"
                            alt="Image for <%= file.filename %>">
                        <div class="card-body">
                            <p class="card-title small text-black"><%= file.filename.substring(0, 28)%></p>
                        </div>
                    </div>
                </a>
            </div>
            <% }else { %>
            <div class="col-6 col-md-3 px-0 ml-4 ml-md-4 mt-2">
                <a href="/ringtones/<%= file.name %>">
                    <div class="card mx-0">
                        <img src="/thumbnails/<%= file.thumbnail %>" class="card-img-top"
                            alt="Image for <%= file.filename %>">
                        <div class="card-body">
                            <p class="card-title small text-black"><%= file.filename.substring(0, 28)%></p>
                        </div>
                    </div>
                </a>
            </div>
            <% } %>
            <% } %>
        </div>
        <div class="text-center mt-6 mt-md-5">
            <a href="/contents/ringtones" class="btn btn-outline load-more small rounded-pill">Browse More</a>
        </div>
        <h1 class="display-5 text-center pt-5 pb-1">Wallpapers</h1>
        <p class="small text-center text-gray pb-3">Get the super minimal walls available!</p>
        <div class="row justify-content-center">
            <% for( let i =  3 ; i >= 0; i--){ %>
            <% file=files.images[i];  %>
            <% if(i % 2 === 0){ %>
            <div class="col-6 col-md-3 px-0 ml-4 ml-md-4 mt-2">
                <a href="/wallpapers/<%= file.name %>">
                    <div class="card mx-0">
                        <img src="/uploads/<%= file.referenceFile %>" class="card-img-top"
                            alt="Image for <%= file.filename %>">
                        <div class="card-body">
                            <p class="card-title small text-black"><%= file.filename.substring(0, 28)%></p>
                        </div>
                    </div>
                </a>
            </div>
            <% }else { %>
            <div class="col-6 col-md-3 px-0 ml-0 ml-md-4 mt-2">
                <a href="/wallpapers/<%= file.name %>">
                    <div class="card mx-0">
                        <img src="/uploads/<%= file.referenceFile %>" class="card-img-top"
                            alt="Image for <%= file.filename %>">
                        <div class="card-body">
                            <p class="card-title small text-black"><%= file.filename.substring(0, 28)%></p>
                        </div>
                    </div>
                </a>
            </div>
            <% } %>
            <% } %>
        </div>
        <div class="text-center mt-6 mt-md-5">
            <a href="/contents/wallpapers" class="btn btn-outline load-more small rounded-pill">Browse More</a>
        </div>
        <h1 class="display-5 text-center pt-5 pb-1">Apps</h1>
        <p class="small text-center text-gray pb-3">Get the super minimal walls available!</p>
        <div class="row justify-content-center apps">
            <% for( let i =  3 ; i >= 0; i--){ %>
            <% file=files.apps[i];  %>
            <% if(i % 2 === 0){ %>
            <div class="col-6 col-md-3 px-0 ml-4 ml-md-4 mt-2">
                <a href="/apps/<%= file.name %>">
                    <div class="card mx-0">
                        <img src="/thumbnails/<%= file.thumbnail %>" class="card-img-top"
                            alt="Image for <%= file.filename %>">
                        <div class="card-body">
                            <p class="card-title small text-black"><%= file.filename.substring(0, 28)%></p>
                        </div>
                    </div>
                </a>
            </div>
            <% }else { %>
            <div class="col-6 col-md-3 px-0 ml-0 ml-md-4 mt-2">
                <a href="/apps/<%= file.name %>">
                    <div class="card mx-0">
                        <img src="/thumbnails/<%= file.thumbnail %>" class="card-img-top"
                            alt="Image for <%= file.filename %>">
                        <div class="card-body">
                            <p class="card-title small text-black"><%= file.filename.substring(0, 28)%></p>
                        </div>
                    </div>
                </a>
            </div>
            <% } %>
            <% } %>
        </div>
        <div class="text-center mt-5 mt-md-5">
            <a href="/contents/apps" class="btn btn-outline load-more small rounded-pill">Browse More</a>
        </div>

        <h1 class="display-5 text-center pt-6s pb-1">Presets & Plugins</h1>
        <p class="small text-center text-gray pb-3">Enhance yourself with the best!</p>
        <div class="row main-content justify-content-center">
            <div class="col-sm-8 px-0">
                <div class="bd-example">
                    <div id="products" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#products" data-slide-to="0" class="active"></li>
                            <li data-target="#products" data-slide-to="1"></li>
                            <li data-target="#products" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <% for( let i = 3; i >= 0; i--){ %>
                            <% let file = files.presets[i];  %>
                            <% if( i === 3){ %>
                            <div class="carousel-item active">
                                <div class="hover-option">
                                    <a href="/presets/<%= file.name %>"><span class="plus-symbol">+</span></a>
                                </div>
                                <img src="/thumbnails/<%= file.thumbnail %>" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <p><%= file.filename %></p>
                                </div>
                            </div>
                            <% }else{ %>
                            <div class="carousel-item">
                                <div class="hover-option">
                                    <a href="/presets/<%= file.name %>"><span class="plus-symbol">+</span></a>
                                </div>
                                <img src="/thumbnails/<%= file.thumbnail %>" class="d-block w-100" alt="...">
                                <div class="carousel-caption   d-md-block">
                                    <p><%= file.filename %></p>
                                </div>
                            </div>
                            <% } %>
                            <% } %>
                        </div>
                        <a class="carousel-control-prev" href="#products" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#products" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="display-5 text-center  mb-3 pt-5"><span>Our Blogs</span></h2>
        <div class="text-center"><span class="line d-block"></span></div>
        <div class="text-center mt-5 mt-md-5">
            <a href="/blogs" class="btn btn-outline load-more small rounded-pill">Browse Now</a>
        </div>
    </div>
</div>

<% include partials/footer %>