<% include partials/header %>
<div class="container-fluid bg-white px-0">
    <div class="container-fluid pt-6s pb-4 bg-image bottom-rounded">
        <h1 class="text-center text-white display-5 mb-3">Content</h1>
        <p class="lead pb-5 text-center mt-6 text-white">Home > Content</p>
        <p class=" pt-6s pt-sm-5 small font-weight-normal text-center text-white">What are you looking for?</p>
        <div class="position-relative pt-5 srch">
            <form action="https://www.google.com/search" method="GET">
                <input name="sitesearch" type="hidden" value="https://androcrunch.in">
                <input name="q" type="search" placeholder="Wallpapers, apps and ringtones">
                <button type="submit"> <i class="fas fa-search"></i> </button>
            </form>
        </div>
    </div>
</div>

<div class="bg-white container-fluid px-0 pb-6 pt-3">
    <div class="main-content site-content">
        <div class="pt-6s text-center pb-5">
            <div class="text-center d-block d-sm-inline">
                <a href="/contents" class="btn btn-outline-primary rounded-pill btn-small px-4 pt-2 pb-2 active">All</a>
                <a href="/contents/ringtones"
                    class="btn btn-outline-primary rounded-pill px-4 ml-2 pt-2 pb-2">Ringtones</a>
            </div>
            <div class="mt-4 d-block d-sm-inline">
                <a href="/contents/wallpapers"
                    class="btn btn-outline-primary rounded-pill pt-2 pb-2 mx-0  mx-sm-2">Wallpapers</a>
                <a href="/contents/apps" class="btn btn-outline-primary rounded-pill pt-2 pb-2 mx-0  mx-sm-1">Apps</a>
                <a href="/contents/presets"
                    class="btn btn-outline-primary rounded-pill pt-2 pb-2 mx-0  mx-sm-1">Presets</a>
            </div>
        </div>
    </div>
</div>


<div class=" justify-content-center bg-white">
    <h1 class=" text-center pt-5 pb-1 bg-white">Wallpapers</h1>
    <p class="small text-center text-gray pb-3 bg-white">Get the latest and trendy wallpapers available!</p>
    <div class="container-fluid  horizontal-scroll px-0">
        <div class="scroll-top d-flex justify-content-center">
            <% for( let i =  files.images.length - 1 ; i >= files.images.length - 4; i--){ %>
            <% file=files.images[i];  %>
            <div style="background-size: cover; background-image: url('/thumbnails/lg-<%= file.thumbnail.split('-')[1] %>');"
                class="scroll-item">
                <p style="padding-top: 19rem;" class="mx-3 small mt-4 text-dark text-center"><%= file.filename %>
                </p>
                <div class="scroll-item-hover-option">
                    <a class="scroll-item-hover-link monteserrat"
                        href="/contents/wallpapers/<%= file.name %>">Download</a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <div class="text-center mb-6 mt-5">
        <a href="/contents/wallpapers" class="btn btn-primary small rounded-pill">Browse More</a>
    </div>
    <div class="advertisement  d-flex justify-content-center pt-6s">
           
    </div>
    <h1 class=" text-center pt-5 pb-1 bg-white">Ringtones</h1>
    <p class="small text-center text-gray pb-3 bg-white">Browse through our latest collection!</p>
    <div class="container-fluid  horizontal-scroll px-0">
        <div class="scroll-top d-flex justify-content-center">
            <% for( let i =  files.audio.length - 1 ; i >= files.audio.length - 4; i--){ %>
            <% file=files.audio[i];  %>
            <a href="/contents/ringtones/<%= file.name %>">
                <div class="scroll-item h-13">
                    <img class="h-13" src="/thumbnails/md-<%= file.thumbnail.split('-')[1] %>" alt="Select">
                    <p class="mx-3 small mt-4 text-dark text-center"><%= file.filename %></p>
                </div>
            </a>

            <% } %>
        </div>
    </div>
    <div class="text-center mt-2 mb-5">
        <a href="/contents/ringtones" class="btn btn-primary small rounded-pill">Browse More</a>
    </div>
    <div class="advertisement  d-flex justify-content-center pt-6s">
            
    </div>

    <h1 class="display-5 text-center pt-6s pb-1">Presets & Plugins</h1>
    <p class="small text-center text-gray pb-3">Enhance yourself with the best!</p>
    <div class="d-flex justify-content-center presets-content">
        <div class=" row justify-content-center mx-0">
            <% for( let i = files.presets.length - 1; i >= files.presets.length - 3; i--){ %>
            <% let file = files.presets[i];  %>
            <div class="col-sm-3 mx-4">
                <div class="card no-border no-box-shadow">
                    <div class="hover-option rounded">
                        <a href="/contents/presets/<%= file.name %>"><span class="plus-symbol">+</span></a>
                    </div>
                    <img class="card-img-top rounded" src="/thumbnails/lg-<%= (file.thumbnail).split('-')[1] %>"
                        alt="Thumbnail | <%= file.filename %>">
                    <div class="card-body">
                        <p style="font-size: 1rem;" class="card-text text-center pt-4 font-weight-bold">
                            <%= file.filename %>
                        </p>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>

    <div class="text-center mt-6 mt-md-5">
        <a href="/contents/presets" class="btn btn-primary small rounded-pill">Browse More</a>
    </div>
    <div class="advertisement  d-flex justify-content-center pt-6s">
            
    </div>
    <div class="container-fluid app-banner text-white">
        <div class="">
            <p class="display-4 context text-center text-lg-right font-weight-bolder">Apps</p><br>
            <p class="text-center context text-lg-right px-0">Checkout Our Amazing handpicked collection <br>
                Recommended using
                on mobile <br> for better exerience</p>
            <div class="text-center text-sm-right context">
                <a href="/contents/apps" class="btn btn-primary rounded-pill mt-5">Browse Now</a>
            </div>
        </div>
    </div>


    <h2 class="display-5 text-center  mb-3 pt-5"><span>Our Blogs</span></h2>
    <div class="text-center w-25 m-auto"><span class="line d-block"></span></div>
    <div class="container-fluid bg-white blog-posts pb-6">
        <div class="row main-content justify-content-center">
            <% recommended.forEach((post) => { %>
            <div class="col-md">
                <a href="/blogs/<%= post.customUrl %>">
                    <div class="card mx-sm-1 mt-5 ">
                        <img src="/thumbnails/<%= post.image %>" class="card-img-top" alt="Image | <%= post.title %>">
                        <div class="card-body">
                            <p class="tags"><%= post.tags.split(" ").splice(0,2).join(", ").toUpperCase() %></p>
                            <h5 class="card-title"><%= post.title %></h5>
                            <p class="card-text"><%= post.content.replace(/<[^>]*>?/gm, '').substring(0, 100); %>..</p>
                            <p class="date"><%= moment.tz(post.created, "Asia/Calcutta").format("MMMM Do YYYY") %></p>
                        </div>
                    </div>
                </a>
            </div>
            <% }); %>
        </div>
    </div>
    <div class="text-center mt-5 mt-md-5">
        <a href="/blogs" class="btn btn-outline load-more small rounded-pill">Browse Now</a>
    </div>

</div>

<% include partials/footer %>