<% include partials/header %>

<h1 class="display-5 text-white text-center mt-6">New Blog Post</h1>
<section aria-label="New Blog Post">
    <div class="container-fluid">
        <form class="mb-6" action="/blogs/edit/<%= status %>/<%= post._id %>?_method=PUT" method="POST">
            <div class="input-group mb-2 flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text">Title:</span>
                </div>
                <input type="text" class="form-control" name="title" placeholder="Title" aria-label="Title"
                    aria-describedby="basic-addon1" value="<%= post.title %>">
            </div>
            <marquee class=" text-white small">Maximum of 104 character allowed!</marquee>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Tags</span>
                </div>
                <input type="text" class="form-control" name="tags"
                    placeholder="Url must be unique separeted by single space" value="<%= post.tags %>"
                    aria-label="tags" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Meta Description</span>
                </div>
                <textarea  class="form-control" name="metaDescription"
                    placeholder="MetaDescription show on Google Search" 
                    aria-describedby="basic-addon1"> <%= post.metaDescription %> </textarea>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Custom Url</span>
                </div>
                <input type="text" class="form-control" name="customUrl"
                    placeholder="Url must be unique separeted by single space" value="<%= post.customUrl %>"
                    aria-label="Custom Url" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Content</span>
                </div>
                <textarea name="content" class="form-control" aria-label="Post Content"
                    placeholder="Post's Content"><%= post.content %></textarea>
            </div>
            <button onclick="edit()" type="button" class="btn  text-white px-4 btn-purple-color btn-md mt-2 mb-6">Submit
                <div class="spinner-border spinner-border-sm ml-4 d-none" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </button>
        </form>
    </div>
</section>
<div class="container-fluid bg-dark text-white p-5">
    <h1 class=" text-center  text-white">Cheatsheet</h1>
    <div style="border: 1px solid gray;background-color: #30343a;" class="main-content p-4">
        <span class="text-danger">1.</span><span class="text-white"> All the HTML tags works here including links,
            buttons, Bootstrap classes..</span>
        <span class="line d-block mt-4 mb-4"></span>
        <span class="text-danger">2.</span>
        <span class="text-white"> For images in content use: <span style="font-style: italic;">
                < img src="/thumbnails/<strong>UNIQUE IMAGE TITLE</strong>"> <span class="small text-gray">[Remove
                        spaces]</span>
            </span>
            <span class="line d-block mt-4 mb-4"></span>
            <span class="text-danger">3.</span>
            <span class="text-white"> For block of quote like: </span> <br>
            <div class="bg-white p-5 m-5">
                <blockquote class="bg-light">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur
                    minima, aspernatur sequi
                    ratione quidem quos modi voluptates dolor!</blockquote>
            </div>

            <p class="text-white">Use the following syntax in content:</p>
            <textarea class="w-100 p-4 pt-5" readonly>
                <blockquote> Your block of text quote goes here </blockquote>
                        </textarea>
            <p class="text-white pt-4">Basically just put your text between <strong
                    class="text-danger">"blockquote"</strong> tag</p>
            <span class="line d-block mt-4 mb-4"></span>
            <span class="text-danger">4.</span>
            <span class="text-white"> For links use <span class="text-gray" style="font-style: italic">
                    < a href="http://our link here"> Link Text < / a>
                </span>.. </span> <br>
            <span class="line d-block mt-4 mb-4"></span>

            <span class="text-danger">5.</span>
            <span class="text-white"> For bold text use <span class="text-gray" style="font-style: italic">
                    < strong> Make text bold < / strong>
                </span>.. </span> <br>
            <hr>
            <span class="text-danger">6.</span>
            <span class="text-danger font-weight-bold"> It is encouraged to use Bootstrap classes instead of traditional
                inline CSS. Click here to go to <a
                    href="https://getbootstrap.com/docs/4.3/getting-started/introduction/">Bootstrap Docs</a>
            </span><br>


    </div>
</div>
<script>
    function edit() {
        $(".spinner-border.spinner-border-sm").removeClass("d-none");
        let title = $("input[name=title]").val();
        let image = $("input[name=image]").val();
        let content = $("textarea[name=content]").val();
        let subtitle = $("input[name=subtitle]").val();
        let customUrl = $("input[name=customUrl]").val();
        let metaDescription = $("textarea[name=metaDescription]").val();
        let tags = $("input[name=tags]").val();
        let post = {
            title,
            subtitle,
            image,
            content,
            customUrl,
            tags,
            metaDescription
        }
        $.ajax("/blogs/edit/<%= status %>/<%= post._id %>?_method=PUT", {
            method: "POST",
            data: post
        }).done(data => {
            $(".alert.alert-dismissible").remove();
            if (data.status === 1) {
                $("form").prepend(
                    "<div class=\"alert alert-success alert-dismissible fade show\" role=\"alert\">Post successfully edited!<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button></div>"
                );
            } else {
                $("form").prepend(
                    "<div class=\"alert alert-danger alert-dismissible fade show\" role=\"alert\">" + data
                    .message +
                    "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button></div>"
                );
            }
            $(".spinner-border.spinner-border-sm").addClass("d-none");
        });
    }
</script>
<% include partials/footer %>