<% include partials/header %>
<div class="container-fluid pt-5 pb-6 text-white bg-gradient">
    <h1 class="display-4 text-center text-white mt-6">All Files List:</h1>
    <p class="lead text-center">Select a file from the list to modify.</p>
    <h5 class="text-center">Logged in as <strong class="text-primary"><%= loggedUser.username %></strong></h5>
</div>

<div class="container-fluid bg-white px-0">
    <div class="text-center pt-4">
        <a class="btn btn-lg btn-outline-primary px-5 text-center" href="/files/upload">UPLOAD A NEW FILE</a>
    </div>
    <div class="main-content pb-6">
        <div class="pt-6s text-center pb-5">
            <div class="text-center">
                <a href="/files" class="btn btn-outline-primary rounded-pill btn-small px-4 pt-2 pb-2 active">All</a>
                <a href="/files/list/audio"
                    class="btn btn-outline-primary rounded-pill px-4 ml-2 pt-2 pb-2">Audio</a>
            </div>
            <div class="mt-4">
                <a href="/files/list/images" class="btn btn-outline-primary rounded-pill pt-2 pb-2">Images</a>
                <a href="/files/list/apps" class="btn btn-outline-primary rounded-pill pt-2 pb-2">Apps</a>
                <a href="/files/list/presets" class="btn btn-outline-primary rounded-pill pt-2 pb-2">Plugins</a>
            </div>
        </div>
        <% data.forEach((files) => { %>
        <% for( let i =files.length - 1; i >= 0; i-- ){ %>
        <% file = files[i]; %>
        <div class="card mt-5 mx-0">
            <div class="card-header">
                <%= file.filename %>
            </div>
            <div class="card-body">
                <p class="tags"><strong>Type: </strong><%= file.mimetype.toUpperCase() %></p>
                <% if(typeof file.thumbnail === "undefined" && file.mimetype !== "image"){ %>
                <p class="tags text-danger">No thumbnail provided</p>
                <% }else{ %>
                <% if(file.mimetype === "image") { %>
                <p class="tags"><strong>Thumbnail: </strong><%= file.thumbnail %></p>
                <div class="thumbnail text-center">
                    <img src="/uploads/<%= file.referenceFile %>" class="img-thumbnail mb-3">
                </div>
                <% } else {%>
                <p class="tags"><strong>Thumbnail: </strong><%= file.thumbnail %></p>
                <div class="thumbnail text-center">
                    <img src="/thumbnails/<%= file.thumbnail %>" class="img-thumbnail mb-3">
                </div>
                <% } %>
                <% } %>
                <h5 class="card-text"><%= file.description %></h5>
                <a href="/files/<%= file.mimetype %>/<%= file._id %>/edit" class="btn btn-primary mt-4 mb-4">Edit</a>
                <form class="d-inline" action="/files/<%= file.mimetype %>/<%= file._id %>?_method=DELETE"
                    method="POST">
                    <button type="submit" class="btn btn-outline-danger mt-4 mb-4 d-inline">Remove</button>
                </form>
                <a href="/files/<%= file.mimetype %>/thumbnail/<%= file._id %>"
                    class="btn btn-outline-primary float-sm-right mt-4 mb-4">Upload Thumbnail</a>
                <p class="date"><%= moment.tz(file.created, "Asia/Calcutta").format("dddd, MMMM Do YYYY, h:mm:ss a") %>
                </p>
                <p class="tags"><span class="text-dark">by </span> <%= file.uploader %></p>
                <p class="tags"><strong>Size: </strong> <%= String(file.size/1024).split(".")[0] %> kB</p>
            </div>
        </div>
        <% } %>
        <% }) %>
    </div>
</div>
<% include partials/footer %>