<% include partials/header %>
<div class="bg-white">
    <div class="container-fluid pt-6 bg-image pb-4">
        <div style="border-radius:0;" class="jumbotron-fluid top-section main-content text-white">
            <h1 style="font-size:40px; font-family: 'Montserrat', sans-serif;"
                class="mb-2 font-weight-bold text-center text-white">India's
                <span style="color:#ffff33;">#1</span>
                Digital Store !</h1>
            <p style="letter-spacing: 10px;" class="text-center small">Make your smartphone, completely yours
            </p>
            <div class="jumbo-button p-1 pt-5">
                <a class="btn  text-white btn-purple-color rounded-pill btn-md px-3 px-sm-4 font-weight-bold"
                    href="/contents" role="button">EXPLORE</a>
                <button class="btn btn-outline rounded-pill btn-md px-3 px-sm-4  ml-3 font-weight-bold"
                    onclick="scrollDown()">Take a
                    Tour</button>
            </div>
        </div>
        <p class="pt-6s text-center text-white small">What are you looking for?</p>
        <div class="position-relative pt-5 srch">
            <form action="https://www.google.com/search" method="GET">
                <input name="sitesearch" type="hidden" value="https://androcrunch.in">
                <input name="q" type="search" placeholder="Wallpapers, apps and ringtones">
                <button type="submit"> <i class="fas fa-search"></i> </button>
            </form>
        </div>
    </div>
</div>

<section>
    <div class="container-fluid bg-white pb-6 pt-5">
        <h2 class="display-5 text-center pt-6s pb-1">The Most Popular Ones</h2>
        <p class="small text-center text-gray pb-3">We handpicked these items below!</p>
        <div class="justify-content-center most-popular">
            <div class="d-flex justify-content-center">
                <div class=" horizontal-scroll-flex-box d-block d-md-flex justify-content-center">
                    <div class="col-md px-0 mt-4 scroll-item-flex">
                        <div class="bd-example">
                            <div data-touch="false" id="wallpapers" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#wallpapers" data-slide-to="0" class="active"></li>
                                    <li data-target="#wallpapers" data-slide-to="1"></li>
                                    <li data-target="#wallpapers" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <% trending.wallpapers.forEach((file, i) => { %>
                                    <% if(i === 0){ %>
                                    <div class="carousel-item active">
                                        <div class="hover-option">
                                            <a href="/contents/wallpapers/<%= file.name %>"><span
                                                    class="plus-symbol">+</span></a>
                                        </div>
                                        <img src="/thumbnails/md-<%= file.thumbnail.split('-')[1] %>"
                                            class="d-block w-100 h-100" alt="Free <%= file.filename %>">
                                        <div class="carousel-caption   d-md-block">
                                            <p><%= file.filename %></p>
                                        </div>
                                    </div>
                                    <% }else{ %>
                                    <div class="carousel-item">
                                        <div class="hover-option">
                                            <a href="/contents/wallpapers/<%= file.name %>"><span
                                                    class="plus-symbol">+</span></a>
                                        </div>
                                        <img src="/thumbnails/md-<%= file.thumbnail.split('-')[1] %>"
                                            class="d-block w-100 h-100" alt="Free <%= file.filename %>">
                                        <div class="carousel-caption   d-md-block">
                                            <p><%= file.filename %></p>
                                        </div>
                                    </div>
                                    <% } %>
                                    <% }); %>
                                </div>
                                <a class="carousel-control-prev" href="#wallpapers" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#wallpapers" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md px-0 mt-4 scroll-item-flex">
                        <div class="bd-example">
                            <div data-touch="false" id="ringtones" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#ringtones" data-slide-to="0" class="active"></li>
                                    <li data-target="#ringtones" data-slide-to="1"></li>
                                    <li data-target="#ringtones" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <% trending.ringtones.forEach((file, i) => { %>
                                    <% if(i === 0){ %>
                                    <div class="carousel-item active">
                                        <div class="hover-option">
                                            <a href="/contents/ringtones/<%= file.name %>"><span
                                                    class="plus-symbol">+</span></a>
                                        </div>
                                        <img src="/thumbnails/md-<%= file.thumbnail.split('-')[1] %>"
                                            class="d-block w-100 h-100" alt="Free <%= file.filename %>">
                                        <div class="carousel-caption   d-md-block">
                                            <p><%= file.filename %></p>
                                        </div>
                                    </div>
                                    <% }else{ %>
                                    <div class="carousel-item">
                                        <div class="hover-option">
                                            <a href="/contents/ringtones/<%= file.name %>"><span
                                                    class="plus-symbol">+</span></a>
                                        </div>
                                        <img src="/thumbnails/md-<%= file.thumbnail.split('-')[1] %>"
                                            class="d-block w-100 h-100" alt="Free <%= file.filename %>">
                                        <div class="carousel-caption   d-md-block">
                                            <p><%= file.filename %></p>
                                        </div>
                                    </div>
                                    <% } %>
                                    <% }); %>
                                </div>
                                <a class="carousel-control-prev" href="#ringtones" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#ringtones" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md px-0 mt-4 scroll-item-flex">
                        <div class="bd-example">
                            <div data-touch="false" id="apps" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#apps" data-slide-to="0" class="active"></li>
                                    <li data-target="#apps" data-slide-to="1"></li>
                                    <li data-target="#apps" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <% trending.presets.forEach((file, i) => { %>
                                    <% if(i === 0){ %>
                                    <div class="carousel-item active">
                                        <div class="hover-option">
                                            <a href="/contents/presets/<%= file.name %>"><span
                                                    class="plus-symbol">+</span></a>
                                        </div>
                                        <img src="/thumbnails/md-<%= file.thumbnail.split('-')[1] %>"
                                            class="d-block w-100 h-100" alt="Free <%= file.filename %>">
                                        <div class="carousel-caption   d-md-block">
                                            <p><%= file.filename %></p>
                                        </div>
                                    </div>
                                    <% }else{ %>
                                    <div class="carousel-item">
                                        <div class="hover-option">
                                            <a href="/contents/presets/<%= file.name %>"><span
                                                    class="plus-symbol">+</span></a>
                                        </div>
                                        <img src="/thumbnails/md-<%= file.thumbnail.split('-')[1] %>"
                                            class="d-block w-100 h-100" alt="Free <%= file.filename %>">
                                        <div class="carousel-caption   d-md-block">
                                            <p><%= file.filename %></p>
                                        </div>
                                    </div>
                                    <% } %>
                                    <% }); %>
                                </div>
                                <a class="carousel-control-prev" href="#apps" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#apps" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="container-fluid bg-white pb-6">
    <h2 class="display-5 text-center pt-4 pt-sm-6 pb-1">Explore By Category</h2>
    <p class="small text-gray text-center">select the specific genre</p>
    <div class="container-fluid  horizontal-scroll px-0">
        <div class="scroll-top d-flex justify-content-center">
            <a href="/contents/wallpapers">
                <div class="scroll-item">
                    <img src="/imgs/wallpapers.jpg" alt="Select">
                    <p class="category">Wallpapers</p>
                </div>
            </a>


            <a href="/contents/ringtones">
                <div class="scroll-item">
                    <img src="/imgs/ringtones.jpg" alt="Select">
                    <p class="category">Ringtones</p>
                </div>
            </a>


            <a href="/contents/apps">
                <div class="scroll-item">
                    <img src="/imgs/apps.jpg" alt="Select">
                    <p class="category">Applications</p>
                </div>
            </a>


            <a href="/contents/presets">
                <div class="scroll-item">
                    <img src="/imgs/presets.jpg" alt="Select">
                    <p class="category pl-4">Presets</p>
                </div>
            </a>
        </div>
    </div>
    <div class="text-center mt-6">
        <a href="/contents" class="btn btn-outline load-more small rounded-pill">Browse More</a>
    </div>
</section>



<div class="container-fluid statistics bg-gradient px-0">
    <div class="container-fluid">
        <h1 class="display-5 text-white text-center font-weight-bold pb-5">Our Performances Statistics</h1>
        <p class="lead text-center text-white mb-6 pb-6">Don't just take our word for it.<br>
            Trusted by 100000+ people in every state in India and Worldwide</p>
    </div>
    <div class="container-fluid pb-6 bg-white">
        <div id="stats" class="row justify-content-center mx-0">
            <div class="col-sm">
                <p class="hits text-center">
                    <span class="monteserrat" id="premium-stuffs">1279</span><br>
                    <span class="lead">PREMIUM STUFFS</span>
                </p>
            </div>
            <div class="col-sm">
                <p class="hits text-center">
                    <span class="monteserrat" id="downloads">22551649</span><br>
                    <span class="lead">TOTAL DOWNLOADS</span>
                </p>
            </div>
            <div class="col-sm">
                <p class="hits text-center">
                    <span class="monteserrat" id="notify-squad">185611</span><br>
                    <span class="lead">NOTIFICATION SQUAD</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-white blog-posts pb-6">
    <h1 class="display-5 text-center text-dark-purple mb-5 pt-5"><span>Latest Blog Posts</span></h1>
    <div class="row main-content justify-content-center">
        <% latest.forEach((post) => { %>
        <div class="col-md">
            <a href="/blogs/view/<%= post.customUrl %>">
                <div class="card mx-sm-1 mt-5 ">
                    <img src="/thumbnails/<%= post.image %>" class="card-img-top" alt="Image | <%= post.image %>">
                    <div class="card-body">
                        <p class="tags"><%= post.tags.split(" ").splice(0,2).join(", ").toUpperCase() %></p>
                        <h5 class="card-title"><%= post.title %></h5>
                        <p class="card-text"><%= post.content.replace(/<[^>]*>?/gm, '').substring(0, 100); %>..</p>
                        <p class="date"><%= moment.tz(post.created, "Asia/Calcutta").format("MMMM Do YYYY") %></p>
                    </div>
                </div>
            </a>
        </div>
        <% })%>
    </div>
    <div class="text-center mt-5 pb-6">
        <a href="#" class="btn btn-outline load-more small rounded-pill">Browse More</a>
    </div>
</div>

<div id="about" class="testimonial-bg pt-3">
    <div class="container-fluid pt-6s pb-6 mx-0 justify-content-center">
        <img alt="Testimonial profile image" class="d-block  ml-auto mr-auto mb-5" src="/imgs/test-1.png">
        <div>
            <p class="font-weight-bold text-center text-white">EVEL ADAMS</p>
            <p class="small font-italic text-center text-white">Designer/Singer</p>
            <p class="text-white text-center small">Always using androcrunch for any kind of ringtones, <br>it’s just
                super amazing.
                For now androcrunch.in is the best for my phone’s need !</p>
        </div>
    </div>
</div>

<div class="bg-white mx-0 container-fluid d-flex justify-content-center pb-5">
    <div class="row bg-white w-75">
        <div class="col-sm">
            <p style="font-size: 2.5rem;" class="text-center text-lg-right font-weight-bold text-primary pt-6s">About
                AndroCrunch</p>
            <p class="text-center text-lg-right">People all around the <strong>world</strong> want to make their devices
                more likely to themselves. At <span class="text-primary font-weight-bold">AndroCrunch</span> we provide
                all kinds
                of wallpapers, ringtones, apps and more. So, that everytime
                you use your smartphone you feel yourself inside :)</p>
            <a class="btn btn-md float-md-right btn-primary rounded-pill text-white">Learn More</a>
        </div>
    </div>
</div>


<% include partials/footer %>