<% include partials/header %>
<div class="bg-white">
    <div class="container-fluid pt-5 pt-md-3 bg-gradient  pb-6 text-white bottom-rounded">
        <h1 class=" text-center text-white mt-6"><%= file.filename %></h1>
        <p class="small text-gray text-center pt-5 pb-6 mb-5">Home > Contents > <%= category.toUpperCase() %></p>
    </div>
</div>

<div id="download-now" class="advert-place card mx-0 rounded">
    <h1 class="small text-center mb-2 mb-sm-5 mt-2 text-gray">Please Wait <br>Your Download Will Start In <span
            class="text-danger font-weight-bold" id="download-time">10</span>s</h1>
    <div class="box mb-2  mb-sm-5">
       
    </div>
    <div class="card-body">
        <h5 class="card-text text-center font-weight-bold">
            We're Happy To Serve You :)
        </h5>
        <p class="text-gray text-center small">Our creators love hearing from you and seeing how you've used our
            products, <br>
            Show your appreciation by tagging us.
        </p>
        <div class="w-75 m-auto d-flex justify-content-between">
            <a href="/"><i class="fab fa-facebook-f text-primary small" aria-label="facebook connect"></i></a>
            <a href="/"><i class="fab fa-youtube text-danger small" aria-label="whatsapp connect"></i></a>
            <a href="/"><i class="fab fa-instagram text-danger small" aria-label="instagram connect"></i></a>
            <a href="/"><i class="fab fa-twitter small" aria-label="twitter connect"></i></a>
        </div>
    </div>
</div>

<section class="download-item bg-white" aria-label="The main section for download">
    <div class="img">
        <% if(category === "apps"){ %>
        <img src="/thumbnails/med-<%= file.thumbnail %>" class="circle" alt="<%= 'Thumbnail' + file.filename %>">
        <% } else{ %>
        <img src="/thumbnails/med-<%= file.thumbnail %>" alt="<%= 'Thumbnail' + file.filename %>">
        <% } %>
    </div>
    <div class="details">
        <p class="text-gray small text-center m-0 pt-5"><%= file.downloads %> Downloads</p>
        <p class="text-gray small text-center m-0">by <span class="text-dark"><%= file.uploader %></span> in
            <span class="text-dark">Ringtones</span> on
            <%= moment.tz(file.created, "Asia/Calcutta").format("dddd, MMMM Do YYYY") %></p>
        <div class="text-center ">
            <div class="row justify-content-center mt-0 mt-md-3 mx-0">
                <div class="col-md-4">
                    <button onclick="download()"
                        class="btn btn-outline-primary rounded-pill px-5 pt-2 pb-2 active no-border mt-5 mt-md-0">
                        Download
                    </button>
                </div>
                <div class="col-md-4">
                    <span class="share text-left mt-4 mt-md-0">
                        <span class="purple-text-color text-left ml-2">Share</span>
                        <a class="ml-3" href="/"><i class="fab fa-facebook-f big" aria-label="facebook connect"></i></a>
                        <a href="/"><i class="fab fa-whatsapp big" aria-label="whatsapp connect"></i></a>
                        <a href="/"><i class="fab fa-instagram big" aria-label="instagram connect"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-center mb-0 pt-5 pb-4">Details</h3>
    <p class=" main-content text-gray small ">
        <%= file.description %>
    </p>
</section>

<section class="bg-white">
    <h1 class="display-5 text-center">Recommended</h1>
    <p class="xs-small text-gray text-center mb-5">Users also download</p>
    <div class="row main-content justify-content-center bg-white">
        <div class="col-sm-8 px-0">
            <div class="bd-example">
                <div id="products" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#products" data-slide-to="0" class="active"></li>
                        <li data-target="#products" data-slide-to="1"></li>
                        <li data-target="#products" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="hover-option">
                                <a href="/"><span class="plus-symbol">+</span></a>
                            </div>
                            <img src="/imgs/blog-9.webp" class="d-block w-100" alt="...">
                            <div class="carousel-caption   d-md-block">
                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="hover-option">
                                <a href="/"><span class="plus-symbol">+</span></a>
                            </div>
                            <img src="/imgs/blog-2.webp" class="d-block w-100" alt="...">
                            <div class="carousel-caption   d-md-block">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="hover-option">
                                <a href="/"><span class="plus-symbol">+</span></a>
                            </div>
                            <img src="/imgs/blog11.webp" class="d-block w-100" alt="...">
                            <div class="carousel-caption   d-md-block">
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#products" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#products" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <h2 class="display-5 text-center  mb-3 pt-5"><span>Our Blogs</span></h2>
    <div class="text-center"><span class="line"></span></div>
    <div class="text-center mt-4 pb-6">
        <a href="/blogs" class="btn btn-outline load-more small rounded-pill">Browse Now</a>
    </div>
</section>
<script>
    function download() {
        var downloadBox = document.getElementById("download-now");
        downloadBox.style.display = "block";
        // setTimeout(() => {
        // }, 10000);
        window.refreshId = setInterval(() => {
            var num = document.getElementById("download-time").innerText;
            num = Number(num);
            num = num - 1;
            document.getElementById("download-time").innerText = num;
            console.log(num);
            if (num === 0) {
                window.location = "/<%= category %>/<%= file.name %>/download"
                clearInterval(window.refreshId);
                var downloadBox = document.getElementById("download-now");
                downloadBox.style.display = "none";
                document.getElementById("download-time").innerText = 10;
            }
        }, 1000);
    }
</script>

<% include partials/footer %>