<% include partials/header %>
<div class="bg-white">
    <div class="container-fluid pt-5 pt-md-3 bg-gradient  pb-6 text-white bottom-rounded">
        <h1 class=" text-center text-white mt-6"><%= file.filename %></h1>
        <p class="small text-gray text-center pt-5 pb-6 mb-5">Home > Contents > <%= category.toUpperCase() %></p>
    </div>
</div>
<section class="download-item bg-white" aria-label="The main section for download">
    <div class="img">
        <% if(category === "apps"){ %>
        <img src="/thumbnails/lg-<%= (file.thumbnail).split('-')[1] %>" class="circle"
            alt="<%= 'Thumbnail' + file.filename %>">
        <% } else{ %>
        <img src="/thumbnails/lg-<%= (file.thumbnail).split('-')[1] %>" alt="<%= 'Thumbnail' + file.filename %>">
        <% } %>
    </div>
    <div class="details">
        <p class="text-gray small text-center m-0 pt-5"><%= file.downloads %> Downloads</p>
        <p class="text-gray small text-center m-0">by <span class="text-dark"><%= file.uploader %></span> in
            <span class="text-dark">Ringtones</span> on
            <%= moment.tz(file.created, "Asia/Calcutta").format("dddd, MMMM Do YYYY") %></p>
        <div class="text-center ">
            <div class="row justify-content-center mt-0 mt-md-3 mx-0">
                <div class="col-md-4">
                    <% if(typeof file.shortLink === "undefined"){ %>
                        <a href="/<%= category %>/<%= file.name %>/download"
                            class="btn btn-outline-primary rounded-pill px-5 pt-2 pb-2 active no-border mt-5 mt-md-0">
                            Download
                        </a>
                    <% }else{ %>
                        <a href="<%= file.shortLink %>"
                            class="btn btn-outline-primary rounded-pill px-5 pt-2 pb-2 active no-border mt-5 mt-md-0">
                            Download
                        </a>
                    <% } %>
                </div>
                <div class="col-md-4">
                    <span class="share text-left mt-4 mt-md-0">
                        <span class="purple-text-color text-left ml-2">Share</span>
                        <a class="ml-3" href="https://www.facebook.com/AndroCrunch013"><i class="fab fa-facebook-f big"
                                aria-label="facebook connect"></i></a>
                        <a href="https://youtube.com/AndroCrunch"><i class="fab fa-youtube big"
                                aria-label="youtube connect"></i></a>
                        <a href="https://instagram.com/androcrunch.in"><i class="fab fa-instagram big"
                                aria-label="instagram connect"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <h3 class="text-center mb-0 pt-5 pb-4">Details</h3>
    <p class=" main-content text-gray text-center small ">
        <%= file.description %>
    </p>
</section>

<section class="bg-white pt-5">
    <h1 class="display-5 text-center">Recommended</h1>
    <p class="small text-gray text-center mb-5">Users also download</p>
    <div class="row main-content justify-content-center bg-white">
        <div class="col-sm-8 px-0">
            <div class="bd-example">
                <div id="products" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#products" data-slide-to="0" class="active"></li>
                        <li data-target="#products" data-slide-to="1"></li>
                        <li data-target="#products" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="hover-option">
                                <a href="/contents/wallpapers/<%= trending.wallpapers[0].name %>/"><span
                                        class="plus-symbol">+</span></a>
                            </div>
                            <img src="/thumbnails/lg-<%= trending.wallpapers[0].thumbnail.split('-')[1] %>"
                                class="d-block w-100" alt="Thumbnail | <%= trending.wallpapers[0].filename %>">
                            <div class="carousel-caption   d-md-block">
                                <p><%= trending.wallpapers[0].filename %></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="hover-option">
                                <a href="/contents/ringtones/<%= trending.ringtones[0].name %>/"><span
                                        class="plus-symbol">+</span></a>
                            </div>
                            <img src="/thumbnails/lg-<%= trending.ringtones[0].thumbnail.split('-')[1] %>"
                                class="d-block w-100" alt="Thumbnail | <%= trending.ringtones[0].filename %>">
                            <div class="carousel-caption   d-md-block">
                                <p><%= trending.ringtones[0].filename %></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="hover-option">
                                <a href="/contents/presets/<%= trending.presets[0].name %>/"><span
                                        class="plus-symbol">+</span></a>
                            </div>
                            <img src="/thumbnails/lg-<%= trending.presets[0].thumbnail.split('-')[1] %>"
                                class="d-block w-100" alt="Thumbnail | <%= trending.presets[0].filename %>">
                            <div class="carousel-caption   d-md-block">
                                <p><%= trending.presets[0].filename %></p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#products" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#products" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <h2 class="display-5 text-center  mb-3 pt-5"><span>Our Blogs</span></h2>
    <div class="text-center"><span class="line"></span></div>
    <div class="text-center mt-4 pb-6">
        <a href="/blogs" class="btn btn-outline load-more small rounded-pill">Browse Now</a>
    </div>
    </div>
</section>


<% include partials/footer %>