<% include partials/header %>
<div class="bg-white">
    <section class="bg-image pt-6s" aria-labelledby="Header for blog post">
        <div class="main-content pt-6s">
            <div class="row">
                <div class="col-sm px-0">
                    <p class="text-white pl-3 text-center text-sm-left post-default-header">
                        Blog Post
                    </p>
                </div>
                <div class="col-sm px-0">
                    <p class="text-white text-center d-block  post-title small text-sm-right">
                        Home > Blog > <span class="font-weight-bold"><%= post.title %></span>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="bg-white pt-5" aria-labelledby="The main content for the blog post">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-8 blog-main-content h-50 px-2">
                <% if(typeof post.image === "undefined"){ %>
                <img class="img-thumbnail" src="/thumbnails/default.jpg">
                <% }else{ %>
                <img class="img-thumbnail" src="/thumbnails/<%= post.image %>">
                <% } %>
                <h1 class="post-header"><%= post.title %></h1>
                <p class="small text-gray">By <%= post.author %>
                    <span class="pl-4"><%= moment.tz(post.created, "Asia/Calcutta").format("MMMM Do YYYY") %></span>
                    <span class="ml-4">
                        <i class="fas fa-eye mr-2"></i><%= post.views %>

                    </span>
                </p>
                <div aria-labelledby="a horizontal line/separator" class="line-dark pb-4"></div>
                <section aria-labelledby="the main post text" class="">
                    <%- post.content %>
                </section>
            </div>
            <div class="col-sm-4 blog-sub-content h-50 px-3 px-sm-4">
                <a role="link" href="/blogs/<%= latest[2].customUrl %>">
                    <div class="card mx-sm-1 mt-5 ">
                        <img src="/thumbnails/<%= latest[2].image %>" class="card-img-top" alt="<%= latest[2].title %>">
                        <div class="card-body">
                            <p class="tags"><%= latest[2].tags.split(" ").splice(0,2).join(", ").toUpperCase() %></p>
                            <h5 class="card-title"><%= latest[2].title %></h5>
                            <p class="card-text"><%= latest[2].content.replace(/<[^>]*>?/gm, '').substring(0, 100); %>..
                            </p>
                            <p class="date"> <%= moment.tz(latest[2].created, "Asia/Calcutta").format("MMMM Do YYYY") %>
                            </p>
                        </div>
                    </div>
                </a>
                <div class="advertisement d-flex justify-content-center">
                    <script type="text/javascript">
                        atOptions = {
                            'key' : '01092e7c5789e336c51bee341b9581fc',
                            'format' : 'iframe',
                            'height' : 300,
                            'width' : 160,
                            'params' : {}
                        };
                        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bcloudhost.com/01092e7c5789e336c51bee341b9581fc/invoke.js"></scr' + 'ipt>');
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white">
    <!-- <div class="pt-4 pb-4">
        <div class="advertisement d-flex justify-content-center">
            <iframe src="//d3t5ngjixpjdho.cloudfront.net/br?jgntd=791966" width="950" height="320" scrolling="no"
                frameborder="0" sandbox="allow-same-origin allow-scripts allow-popups allow-top-navigation">
            </iframe>
        </div>


<script type="text/javascript">
	atOptions = {
		'key' : '01092e7c5789e336c51bee341b9581fc',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bcloudhost.com/01092e7c5789e336c51bee341b9581fc/invoke.js"></scr' + 'ipt>');
</script>



    </div> -->
    <div class="advertisement d-flex justify-content-center mt-0 pt-5">
        <script type="text/javascript">
            atOptions = {
                'key' : '790d917e7f68730366eff745b841006f',
                'format' : 'iframe',
                'height' : 50,
                'width' : 320,
                'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bcloudhost.com/790d917e7f68730366eff745b841006f/invoke.js"></scr' + 'ipt>');
        </script>
    </div>

    <div class="container-fluid bg-white blog-posts pb-6">
        <h1 class="display-5 text-center text-dark mb-5 pt-5"><span>Latest Blog Posts</span></h1>
        <div class="row main-content justify-content-center">
            <% latest.forEach(post => { %>
            <div class="col-md">
                <a href="/blogs/<%= post.customUrl %>">
                    <div class="card mx-sm-1 mt-5 ">
                        <img src="/thumbnails/<%= post.image %>" class="card-img-top" alt="<%= post.title %>">
                        <div class="card-body">
                            <p class="tags"><%= post.tags.split(" ").splice(0,2).join(", ").toUpperCase() %></p>
                            <p class="card-title"><%= post.title %></p>
                            <p class="card-text"><%= post.content.replace(/<[^>]*>?/gm, '').substring(0, 100); %>..</p>
                            <p class="date">
                                <%= moment.tz(post.created, "Asia/Calcutta").format("MMMM Do YYYY") %></p>
                        </div>
                    </div>
                </a>
            </div>
            <% }) %>
        </div>
        <div class="text-center mt-5 pb-6">
            <a href="#" class="btn btn-outline load-more small rounded-pill">Browse More</a>
        </div>
    </div>
    <div class="advertisement d-flex justify-content-center mt-0 pt-2 pb-5">
        <script type="text/javascript">
            atOptions = {
                'key' : 'b94a3a2569ee511ee0ce54d0cbd1e9aa',
                'format' : 'iframe',
                'height' : 60,
                'width' : 468,
                'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bcloudhost.com/b94a3a2569ee511ee0ce54d0cbd1e9aa/invoke.js"></scr' + 'ipt>');
        </script>
    </div>
</section>

<% include partials/footer %>