<% include partials/header %>

<% if( typeof files === "undefined") { %>
<div class="container-fluid bg-gradient pb-6 pt-6">
    <div class=" main-content">
        <form action="/files/upload" method="POST" enctype="multipart/form-data">
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="files" name="upload" aria-describedby="files"
                        multiple>
                    <label class="custom-file-label overflow-hidden" for="files">You can upload maximum of 10 files at
                        one time!</label>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" id="inputGroupFileAddon04">UPLOAD</button>
                </div>
            </div>
        </form>
    </div>
</div>
<% } %>

<% if( typeof files !== "undefined") { %>
<div class="pt-6s bg-dark">
    <h1 class="display-5 text-center text-white">Edit uploaded files details:</h1>
    <p class="lead text-white small text-center">The file has been uploaded with title of Original Filename and the
        below data will be saved in database for reference.</p>
    <p class="text-center small text-center text-danger"><strong>NOTE:</strong> The files are already uploaded to STORAGE and now,
        you are just
        posting info about the files which will be added to DATABASE.</p>
        <p class="text-center text-center text-warning"><strong>WARNING:</strong> Do not leave the page without uploading data, the files is not automatically removed since it ia already uploaded.</p>
    <div class="main-content">
        <form action="/files/upload/data" class="pt-5 pb-5" method="POST">
            <% files.forEach((file, index) => { %>
            <div class="form-group p-5 bg-white rounded">
                <label for="fileName">Original File Name: <span
                        class="text-primary"><%= file.originalname %></span></label>
                <input type="text" name="title[<%= index %>]" class="form-control" aria-describedby="file"
                    placeholder="File Title for Public" required>
                <input type="text" name="mimetype[<%= index %>]" value="<%= file.mimetype %>" hidden>
                <input type="text" name="size[<%= index %>]" value="<%= file.size %>" hidden>
                <input type="text" name="referenceFile[<%= index %>]" value="<%= file.filename %>" hidden>

                <small id="file" class="form-text xs-small">This is the name of the file which will be seen by the
                    public.</small>
                <label for="exampleFormControlTextarea1" class="mt-3">Description:</label>
                <textarea name="description[<%= index %>]" class="form-control" rows="1"
                    placeholder="File description goes here!" required></textarea>
                <label class="mt-3">File Size: <span class="text-primary"><%= file.size %> Bytes</span></label>
                <% }); %>
                <input type="text" name="uploadedFiles" value="<%= files %>" hidden>
            </div>
            <button type="submit" class="btn btn-primary">Upload Data</button>
        </form>
    </div>
</div>
<% }%>
<% include partials/footer %>